$black: #0f0f0f;
$light-teal: #00b69e;
$red: rgb(211, 88, 88);

#dashboard-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 1.5rem;
	gap: 1rem;
	background-color: #eee;
	border-radius: 7px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	h2 {
		text-align: left;
		color: $red;
	}

	.graph-container {
		display: flex;
		flex-wrap: wrap;
		gap: 1.5rem;
		max-width: 1200px;
		width: 2400px;
		padding: 1rem;
		border: 2px solid blue;

		.graph-wrapper {
			border-radius: 7px;
			background-color: #fff;
			flex: 1 0;
			height: fit-content;
		}

		.graph {
			height: 100%;
			width: 100%;
		}
	}

	.select-date-section {
		align-self: flex-end;
		background-color: #fff;
		border-radius: 7px;
		padding: 0.75rem;
		width: 20%;
	}
}

.record-tile {
	border-radius: 7px;
	p {
		background-color: $light-teal;
		padding: 1rem;
		text-align: left;
		color: white;
		border-radius: 7px;
		margin: 1.5rem 0;
		font-weight: bold;
	}
}

.exercise-records,
.meal-records {
	padding: 1.5rem;
	width: 45%;
	flex-wrap: wrap;
}

.title {
	text-align: center;
	font-size: 1.25rem;
	font-weight: bold;
	padding: 0.5rem;
}

@media only screen and (max-width: 768px) {
	.exercise-records,
	.meal-records {
		width: 100%;
		gap: 0;
	}
}

//# 320px — 480px: Mobile devices
//# 481px — 768px: iPads, Tablets
//# 769px — 1024px: Small screens, laptops
//# 1025px — 1200px: Desktops, large screens
//# 1201px and more —  Extra large screens, TV

/******************************************************************************************************/
