// Theme variables:
$black: #0f0f0f;
$light-blue: #3f5071;
$sky-blue: #87ceeb;
$dark-green: #005b41;
$teal: #008170;
$light-teal: #00b69e;
$mid-teal: #00b69e;

.daily-goals-container {
	display: flex;
	flex-direction: column;
	height: 100%;
	padding: 1rem;
	overflow-y: scroll;
	background-color: #444;
	background-image: linear-gradient(to bottom, #ccd0e2, #b8b8bd);
}

.form-container {
	flex: 1 0 45%;
	max-width: 620px;
}

#weight-tracking-section {
	padding: 1rem;
	width: fit-content;
	align-self: center;
	max-width: 1250px;

	h3 {
		margin-bottom: 0.75rem;
		color: #358a7e;
	}

	.weight-tracker-container {
		background-color: #ddd;
		padding: 1rem;
		border-radius: 15px;
		align-self: flex-start;

		h3 {
			font-weight: 600;
			color: #6483c2;
			margin-bottom: 0.5rem;
		}

		.actions {
			display: flex;
			align-items: center;
			justify-content: center;

			.weight-action-btn {
				padding: 0.5rem;
				background-color: #aabfe9;
				border: none;
				border-radius: 7px;
				margin-top: 0.3rem;
				transition: all 0.2s ease;
			}

			.weight-action-btn:hover {
				background-color: #c0d2f5;
			}
		}
	}
}
