$black: #0f0f0f;
$mid-blue: #364560;
$light-teal: #478f85;
$mid-teal: #0da08d;
$red: #cc274c;
$light-red: #df2c53;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#user-profile-section {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #478f85;
	height: 100%;
	width: 100%;
}

.profile-container {
	background-color: #eee;
	height: 90%;
	width: 80%;
	border-radius: 15px;
	// overflow-y: auto;
}

/****************************************************************************/
