$black: #0f0f0f;
$mid-blue: #364560;
$light-teal: #478f85;
$mid-teal: #0da08d;
$red: #cc274c;
$light-red: #a82945;

#create-profile-section {
	width: 100%;
	height: 100%;

	.profile-form-container {
		height: 100%;
		padding: 1rem;
	}

	.user-profile-form {
		display: flex;
		padding: 1rem 0;
		gap: 1rem;
		height: 90%;

		.form-left {
			flex: 1 0 25%;
			border-right: 2px solid grey;
			padding-right: 1rem;
			height: 100%;
			// background: #ddd;

			.image-dropzone {
				justify-content: center;
				align-items: center;
				border-radius: 7px;
				border: 2px dashed skyblue;
				height: 50%;
				padding: 1rem;
				margin: 0 auto;

				p {
					font-weight: bold;
					width: 100%;
					text-align: center;
					padding: 1rem;
					color: $red;
				}
			}

			.image-container {
				gap: 1rem;
				display: flex;
				flex-direction: column;
				align-items: center;

				.profile-img {
					height: 150px;
					width: 150px;
					border-radius: 50%;
					overflow: hidden;
					img {
						height: 100%;
						width: 100%;
						object-fit: cover;
					}
					.preview-text {
						color: #fff;
					}
				}
			}
		}

		.form-right {
			flex: 1 0 70%;
			background: #ddd;
			padding: 0.5rem;
			overflow-y: auto;
			border-radius: 7px;

			.profile-form-field {
				margin-bottom: 1rem;
			}
		}
	}
}

img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.form-title {
	padding: 1rem 0;
	color: $red;
}

.save-profile-btn,
.edit-profile-btn {
	background-color: $red;
	color: #fff;
	padding: 0.3rem 0.6rem;
	border: none;
	outline: none;
	border-radius: 5px;
	cursor: pointer;
}

.edit-profile-btn {
	background-color: gray;
}

input:not([type="radio"]),
select {
	border: none;
	outline: none;
	padding: 0.5rem 0.5rem;
	width: 100%;
	background-color: #eee;
	border-radius: 7px;
	margin-top: 0.3rem;
}

.remove-img-btn {
	padding: 0.2rem 0.4rem;
	background-color: $light-teal;
	color: #fff;
	align-self: flex-end;
	border: none;
	border-radius: 10px;
	cursor: pointer;
}

::-webkit-scrollbar {
	height: 8px;
	width: 8px;
}
