$light-teal: #478f85;
$red: #cc274c;

#create-profile-section {
	width: 100%;
	height: 100%;

	.profile-form-container {
		width: 100%;
		height: 100%;
		padding: 1rem;
	}

	.user-profile-form {
		display: flex;
		flex-wrap: wrap;
		padding: 1rem 0;
		gap: 1rem;
		width: 100%;
		height: 100%;

		.form-left {
			height: 100%;
			align-self: flex-start;
			flex: 1 0 25%;

			.image-dropzone {
				justify-content: center;
				align-items: center;
				border-radius: 7px;
				border: 2px dashed #fff;
				height: 50%;
				padding: 1rem;
				margin: 0 auto;

				p {
					font-weight: bold;
					width: 100%;
					text-align: center;
					padding: 1rem;
					color: $red;
				}
			}

			.image-container {
				background-color: rgba($color: #ddd, $alpha: 0.75);
				gap: 1rem;
				display: flex;
				flex-direction: column;
				align-items: center;
				padding: 1rem;
				border-radius: 7px;

				.profile-part {
					position: relative;
				}

				.profile-img {
					background-color: transparent;
					height: 120px;
					width: 120px;
					border-radius: 50%;
					overflow: hidden;
					position: relative;

					img {
						height: 100%;
						width: 100%;
						object-fit: cover;
					}
				}

				.preview {
					color: #333;
					margin-bottom: 10px;
				}
				.fullname-preview {
					font-weight: bold;
				}
				.email-preview {
					opacity: 0.65;
				}
			}
		}

		.form-right {
			flex: 1 0 70%;
			background: rgba($color: #ddd, $alpha: 0.75);
			padding: 0.5rem;
			border-radius: 7px;
			height: calc(100% - 54px);
			overflow-y: scroll;

			.profile-form-field {
				margin-bottom: 1rem;

				label {
					font-weight: bold;
					opacity: 0.7;
				}

				input:not([type="radio"]),
				select {
					border: none;
					outline: none;
					padding: 0.5rem 0.5rem;
					width: 100%;
					background-color: #eee;
					border-radius: 7px;
					margin-top: 0.3rem;
				}

				.radio-option {
					background-color: #eee;
					margin-top: 9px;
					display: flex;
					gap: 9px;
					align-items: center;
					padding: 0.5rem;
					border-radius: 7px;
				}
			}
		}
	}
}

img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.form-title {
	padding: 1rem 0;
	color: $red;
}

.save-profile-btn,
.edit-profile-btn {
	background-color: $red;
	color: #fff;
	padding: 0.3rem 0.6rem;
	border: none;
	outline: none;
	border-radius: 5px;
	cursor: pointer;
}

.edit-profile-btn {
	background-color: gray;
}

.remove-img-btn {
	padding: 0.2rem 0.4rem;
	background-color: $light-teal;
	color: #fff;
	align-self: flex-end;
	border: none;
	border-radius: 10px;
	cursor: pointer;
}

@media screen and (max-width: 768px) {
	#create-profile-section {
		.profile-form-container {
			width: 100%;
			height: 100%;
			overflow-y: scroll;
			.user-profile-form {
				flex-direction: column;
				justify-content: flex-start;
				width: 100%;
				height: calc(100% - 60px);

				.form-left {
					width: 100%;
					height: 40%;
					height: 131px;
					flex: 1 0;
					.image-dropzone {
						display: block;
						height: 100%;
						width: 100% !important;
					}
				}
			}
		}
	}
}
