// Theme variables:
$black: #0f0f0f;
$dark-blue: #232d3f;
$mid-blue: #364560;
$light-blue: #3f5071;
$sky-blue: #87ceeb;
$dark-green: #005b41;
$teal: #008170;
$light-teal: #00b69e;

// common css classes
.card {
	text-align: left;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin: 2rem auto;
	width: fit-content;
	border-radius: 7px;
	box-shadow: rgba($color: #000000, $alpha: 0.3) 0 5px 15px;
}
