// Theme variables:
$black: #0f0f0f;
$dark-blue: #232d3f;
$mid-blue: #364560;
$light-blue: #3f5071;
$sky-blue: #87ceeb;
$dark-green: #005b41;
$teal: #008170;
$light-teal: #00b69e;

// common css classes
.flex {
	display: flex;
}

.flex-column {
	display: flex;
	flex-direction: column;
}

.record-tile {
	padding: 0.5rem;
	border-radius: 7px;
	border: 2px solid $light-teal;
	p {
		background-color: $light-teal;
		padding: 1rem;
		text-align: left;
		color: white;
		border-radius: 7px;
		margin: 1.5rem 0;
		font-weight: bold;
	}
}

.profile-icon {
	font-size: 2rem;
}

.dropdown-button {
	padding: 0.5rem 1rem;
	font-size: 1rem;
	border-radius: 7px;
}

.dropdown {
	background-color: #ddd;
	color: #333;
	border-radius: 7px;
	text-align: center;
	.dropdown-items {
		list-style-type: none;
		padding: 0.5rem;

		.dropdown-item {
			border-radius: 5px;
		}
		.dropdown-item:hover {
			background-color: skyblue;
		}
	}
}
