$black: #0f0f0f;
$mid-blue: #364560;
$light-teal: #478f85;
$mid-teal: #0da08d;
$red: #cc274c;
$light-red: #df2c53;
$card-bg-1: #e3effd;
$card-bg-2: #e1fcf5;

* {
	box-sizing: border-box;
}

.record-card {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1rem;
	padding: 1rem;
	border-radius: 7px;
	width: 100%;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px 0px;

	.exercise-record-container {
		flex: 1 0 45%;

		.record-container {
			.exercise-record-card {
				width: 100%;
				.record-title {
					font-weight: bold;
					font-size: 2rem;
					margin-bottom: 1.5rem;
				}

				.record-info {
					// padding: 1rem;
					margin-top: 2.5rem;
					display: flex;
					justify-content: flex-start;
					gap: 1.5rem;

					p {
						background-color: #fff;
						padding: 0.5rem 2.2rem;
						display: inline;
						border-radius: 41px;
						font-size: 1.5rem;
						display: flex;
						justify-content: center;
						align-items: center;
						gap: 10px;
						// font-weight: bold;
						img {
							height: 20px;
							width: 20px;
							object-fit: cover;
						}
					}
				}
			}
		}
	}

	.meal-record-container {
		flex: 1 0 45%;
	}

	.activity-data {
		margin-left: 0.5rem;
	}

	p {
		display: inline;
	}

	.record-delete {
		background-color: #fff;
		border-radius: 25%;
		padding: 0.25rem;
		font-size: 2rem;
		color: $red;
		cursor: pointer;
	}
}

.record-container {
	padding: 1rem;
	width: 100%;
	border-radius: 10px;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	margin: 1rem 0;

	.record-info {
	}
}

.exercise-card-bg {
	background-color: $card-bg-1;
}

.meal-card-bg {
	background-color: $card-bg-2;
}

// icons stylings
.clock-icon {
	color: $mid-teal;
}

.fire-icon {
	color: #f16923;
}
