@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&family=Ubuntu:wght@300;400;500;700&display=swap");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}

body {
	overflow-x: hidden;
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
}
#root {
	height: 100%;
}

// Theme variables:
$black: #0f0f0f;
$dark-blue: #232d3f;
$mid-blue: #176b87;
$light-blue: #3f5071;
$dark-green: #005b41;
$teal: #008170;
$mid-teal: #00b69e;
$light-teal: #64ccc5;

// Homepage
// .main {
// 	background-color: transparent;
// 	height: 100vh;
// 	width: 100%;
// 	display: flex;
// 	align-items: center;
// 	justify-content: center;
// 	padding: 1rem;
// 	gap: 1.5rem;
// 	text-align: center;
// 	overflow: auto;
// }
