// Theme variables:
$black: #0f0f0f;
$dark-blue: #232d3f;
$mid-blue: #364560;
$light-blue: #3f5071;
$sky-blue: #87ceeb;
$dark-green: #005b41;
$teal: #008170;
$light-teal: #00b69e;

// global css classes
.text-center {
	text-align: center;
}

.img-cover {
	object-fit: cover;
}

.full-height {
	height: 100%;
}

.full-width {
	width: 100%;
}

.flex {
	display: flex;
}

.flex-column {
	display: flex;
	flex-direction: column;
}

.flex-50 {
	flex: 1 0 50%;
}

.overflow-auto {
	overflow: auto;
}

.flex-wrap {
	flex-wrap: wrap;
}

.flex-full-width {
	flex: 1;
}

.rounded-border {
	border-radius: 7px;
}

.gap-1 {
	gap: 1rem;
}

.bg-grey {
	background-color: #aaa;
}
.bg-light-grey {
	background-color: #ccc;
}
.text-white {
	color: #fff;
}

.separator {
	height: 100%;
	color: white;
	width: 2px;
}

.padding-1 {
	padding: 1rem;
}

.margin-1 {
	margin: 1rem;
}

.margin-1 {
	margin: 1rem;
}
