$teal: #008170;
$heading-color: #112a46;
$text-color: rgb(9, 57, 110);

#forgot-password-page-container {
	height: 100vh;
	width: 100vw;
	background: linear-gradient(
			45deg,
			hsla(234, 36%, 55%, 1) 0%,
			hsla(234, 36%, 55%, 0) 100%
		),
		url("../../assets/images/BgGraphics.png") top right/auto 100% no-repeat;

	.container {
		position: absolute;
		top: 50%;
		right: 50%;
		transform: translate(50%, -50%);
		height: 50%;
		width: 50%;
		color: #eee;
		border-radius: 7px;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		gap: 10px;

		.email-verification-container,
		.otp-verification-container,
		.password-updating-container {
			height: 100%;
			min-width: 50%;
			padding: 1rem;

			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			.email-verification-heading,
			.otp-verification-heading {
				margin: 1rem 0;
				color: $heading-color;
				text-shadow: 1px 1px 3px #5252ce;
			}

			h3 {
				color: #043b7a;
				text-shadow: 1px 1px 2px rgb(76, 76, 167);
			}

			h1 {
				margin: 1rem 0;
			}

			form {
				display: flex;
				flex-direction: column;
				width: 60%;
				min-width: 310px;
				gap: 3px;
				margin: 9px 0 0 0;
				padding: 0.25rem;

				.email-input-label {
					margin: 0.5rem 0;
					color: #112a46;
					font-weight: bold;
				}

				.input-group,
				.password-input-group {
					background-color: white;
					display: flex;
					align-items: center;
					border-radius: 5px;
					padding: 0.5rem;
					gap: 7px;

					.mail-icon {
						color: #333;
						font-size: 1.3rem;
					}

					input {
						width: 100%;
						border-radius: 5px;
						border: none;
						outline: none;
						font-size: 1.1rem;
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
						&::-webkit-inner-spin-button {
							display: none;
						}
					}
				}

				button {
					margin: 0.5rem 0;
					padding: 0.5rem;
					font-size: 1rem;
					background-color: $teal;
					color: white;
					border: none;
					border-radius: 7px;
					cursor: pointer;
				}
			}
		}
	}
}

.otp-verification-input {
	text-align: center;
}

.email-verification-subtitle {
	margin: 1.5rem 0;
	text-align: center;
	width: 75%;
	line-height: 1.5;
	font-weight: bold;
}

.password-updating-container {
	gap: 15px;

	h2 {
		color: $heading-color;
		text-shadow: 1px 1px 3px #6363c7;
	}

	form {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		width: 50%;
		gap: 0;
		margin-top: 50px;

		label {
			color: #112a46;
			font-weight: bold;
		}

		.form-group {
			label {
				display: inline-block;
				margin: 0 0 7px 0;
			}

			input {
				width: 100%;
				border-radius: 5px;
				border: none;
				outline: none;
				font-size: 1.1rem;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				padding: 0.4rem 0;
				background: none;
			}
		}

		button {
			padding: 0.5rem;
			border-radius: 5px;
			border: none;
			outline: none;
			font-size: 1rem;
			font-weight: bold;
			color: #333;
			background-color: lightblue;
			cursor: pointer;
		}
	}
}

.email-error-text {
	color: rgb(241, 27, 27);
	font-size: 0.75rem;
	font-weight: bold;
}

.pass-field-group {
	width: 100%;
	background-color: #eee;
	display: flex;
	border-radius: 4px;
	overflow: hidden;
	align-items: center;
	margin: 0.5rem 0 0.25rem 0;
	padding: 0 0.5rem 0 0;

	justify-content: space-between;
	background: #fff;

	input {
		width: 100%;
		border: none;
		outline: none;
		font-size: 1rem;
		padding: 0.5rem 0.5rem;
	}

	.eye-icon {
		color: black;
		cursor: pointer;
	}
}

.timer {
	width: 60%;
	min-width: 310px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 7px;
	font-size: 0.75rem;

	.time-remaining-text {
		font-size: 0.75rem;
	}
	.resend-otp-btn {
		background: none;
		border: none;
		color: rgb(10, 106, 209);
		text-decoration: underline;
		opacity: 0.65;
	}
	.enable {
		opacity: 1;
		color: $text-color;
		cursor: pointer;
	}
}

@media screen and (max-width: 600px) {
	#forgot-password-page-container {
		.container {
			width: 98%;

			.email-verification-container,
			.otp-verification-container,
			.set-new-password-container {
				width: 98%;
				padding: 0.5rem;

				.email-verification-heading {
					margin: 1rem 0 2rem 0;
				}

				.email-verification-subtitle {
					width: 100%;
				}

				form {
					width: 100%;
				}
			}
		}
		.timer {
			width: 98%;
		}
	}
}
